<nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        {{ include("includes/nav-brand.html.twig") }}

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-color-white">
                        <label for="q" class="">Search:</label>
                    </div>
                </div>
                <div class="navbar-item">
                    <form method="get" action="{{ path("recipes") }}">
                        <div class="field">
                            <div class="control has-icons-right">
                                <input id="q" name="q" class="input" type="text" placeholder="Search..." value="{{ query }}">
                                <span class="icon is-small is-right">
                                <i class="fas fa-search"></i>
                            </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container p-4 is-hidden-desktop">
    <form method="get" action="{{ path("recipes") }}">
        <div class="is-flex is-gap-2 is-align-items-center">
            <div class="field mb-0 is-hidden-mobile">
                <label for="q-mobile" class="label is-size-5">Search:</label>
            </div>
            <div class="field is-flex-grow-1 mb-0">
                <div class="control">
                    <input id="q-mobile" name="q" class="input" type="text" placeholder="Search..." value="{{ query }}">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-info">
                        <i class="fas fa-search"></i> &nbsp;
                        Search
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>